 <h2 mat-dialog-title class="text-center text-lg font-semibold">
  {{ tituloAccion }} Medicamento
  </h2>

<mat-dialog-content>
  <form [formGroup]="formularioMedicamento" class="space-y-4">

    <!-- Nombre -->
    <mat-form-field appearance="fill" class="w-full">
      <mat-label>Nombre</mat-label>
      <input matInput formControlName="nombre" autocomplete="off" />
      <mat-icon matSuffix>inventory</mat-icon>
      <mat-error *ngIf="formularioMedicamento.get('nombre')?.hasError('required')">
        El nombre es requerido.
      </mat-error>
    </mat-form-field>

    <!-- Categoría -->
    <mat-form-field appearance="fill" class="w-full">
      <mat-label>Categoría</mat-label>
      <mat-select formControlName="idCategoria">
        <mat-option *ngFor="let item of listaCategoria" [value]="item.idCategoria">
          {{ item.nombre }}
        </mat-option>
      </mat-select>
      <mat-error *ngIf="formularioMedicamento.get('idCategoria')?.hasError('required')">
        La categoría es requerida.
      </mat-error>
    </mat-form-field>

    <!-- Proveedor -->
    <mat-form-field appearance="fill" class="w-full">
      <mat-label>Proveedor</mat-label>
      <mat-select formControlName="idProveedor">
        <mat-option *ngFor="let item of listaProveedor" [value]="item.idProveedor">
          {{ item.nombre }}
        </mat-option>
      </mat-select>
      <mat-error *ngIf="formularioMedicamento.get('idProveedor')?.hasError('required')">
        El proveedor es requerido.
      </mat-error>
    </mat-form-field>

    <!-- Imagen -->
    <mat-form-field appearance="fill" class="w-full">
      <mat-label>Imagen del Producto</mat-label>
      <mat-select formControlName="idImagen">
        <mat-option *ngFor="let item of listaImagenProducto" [value]="item.idImagen">
          {{ item.nombreArchivo }}
        </mat-option>
      </mat-select>
      <mat-error *ngIf="formularioMedicamento.get('idImagen')?.hasError('required')">
        La imagen del producto es requerida.
      </mat-error>
    </mat-form-field>


      <mat-form-field appearance="fill">
          <mat-label>Fecha Vencimiento</mat-label>
          <input matInput [matDatepicker]="picker" formControlName="fechaVencimiento" autocomplete="off">
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
          <mat-error *ngIf="formularioMedicamento.get('fechaVencimiento')?.hasError('required')">
              La fecha de vencimiento es requerida.
          </mat-error>
      </mat-form-field>


    <!-- Estado -->
    <mat-form-field appearance="fill" class="w-full">
      <mat-label>Estado</mat-label>
      <mat-select formControlName="esActivo">
        <mat-option value="1">Activo</mat-option>
        <mat-option value="0">No activo</mat-option>
      </mat-select>
      <mat-error *ngIf="formularioMedicamento.get('esActivo')?.hasError('required')">
        El estado es requerido.
      </mat-error>
    </mat-form-field>
  </form>
</mat-dialog-content>

<mat-dialog-actions align="end" class="pt-4">
  <button mat-stroked-button mat-dialog-close color="warn">Cancelar</button>
  <button
    mat-raised-button
    color="primary"
    [disabled]="formularioMedicamento.invalid"
    (click)="GuardarEditar_Medicamento()"
  >
    {{ botonAccion }}
  </button>
</mat-dialog-actions>

