mat-form-field{
  font-size: 14px;
  width: 100%;
}

p-table tr {
  height: 50px; /* Ajusta la altura según necesites */
}

th, td {
  padding: 4px 8px; /* Reducir padding si es necesario */
}

.mat-icon-button {
  height: 36px; /* Tamaño consistente para los botones */
  width: 36px;
}
